html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bug {
  background: rgb(102, 239, 102);
}

.water {
  background: rgb(108, 192, 244);
}

.grass {
  background: rgb(39, 229, 219);
}

.fire {
  background: rgb(255, 94, 94);
}

.normal {
  background: rgb(109, 166, 166);
}

.poison {
  background: #d874ff;
}

.electric {
  background: #aaaa1a;
}
.ground {
  background: #5c4d30;
}

.fairy {
  background: #a24cf8;
}

.fighting {
  background: #ae3135;
}
.psychic {
  background: #934c64;
}

.ghost {
  background: #6142d2;
}
.rock {
  background: rgb(86, 85, 85);
}
.ice {
  background: #68798f;
}
.flying {
  background: #b8efff;
}
.dark {
  background: #2d221c;
}

.dragon {
  background: #ec7b93;
}

.steel {
  background: #aad0c8;
}
.unknown {
  background: lightslategray;
}

.shadow {
  background: #d4b8b8;
}
